# Junk
*.pyc
.Rproj.user/
*.Rproj

# Data
/data/_raw/
/data/complete/
/data/subset_00100/
/data/subset_01000/

# Other
/reports/
/remove/
/esm2/esm_utilities/example_proteins/
/esm2/esm_utilities/slurm_logs/
/code/analysis/
smoothing.R
/code/processing/prepare_classification.qmd
/code/processing/process_esm_output.qmd
process_esm_as_vectors.qmd